body 
{
    padding-top: 5rem;
    background-color: aliceblue;
}

h2 {
    text-align: center;
    margin-top: 50px; 
}

.container2 {
    margin-top: 50px;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; 
}
/*Property_listing.html style*/
.foot
{
    text-align: center;
}

.tertiary-row 
{
    display: flex;
}

.tertiary-row .form-group 
{
    flex: 1;
    margin-right: 10px; 
}

.secondary .form-group,
.tertiary .form-group 
{
    width: 50%;
    float: left;
}

.form-group-loc
{
    width: 49.2%;
}

.form-group-img
{
    width: fit-content;
}

.title {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 15px; 
}

.location{
    color: grey;
}


.grid-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.grid-item 
{
    padding: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.grid-item img 
{
    display: block;
    width: 100%;
    margin: 0;
}


.ps-price 
{
    border: 1px solid #ccc; 
    padding: 5px 15px; 
    border-radius: 20px; 
    display: inline-block; 
    max-width: 150px; 
    overflow: hidden; 
    white-space: nowrap; 
    background-color:rgb(148, 205, 238);
    color: white;
    text-align: center;
}


.btn {
    background-color: rgb(69, 179, 159);
    border-radius: 0; 
    color: white;
    padding: 8px 20px; 
    text-decoration: none; 
}

.btn:hover {
    background-color: rgb(2, 68, 58); 
}

/*Property_detail.html style*/

.card-property {
    display: flex; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    overflow: hidden;
    margin-bottom: 20px; 
    background-color: white;
    font-style: sans-serif;;
}

.property-img {
    flex: 0 0 40%; 
    overflow: hidden; 
   
}

.property-img img {
    width: 100%; 
    height: 100%; 
    object-position: left;
}

.property-info {
    flex: 1; 
    padding: 20px;
}

.prop-title {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.price-type {
    display: flex;
    margin-bottom: 10px; 
}

.price-type p{
   margin: 0;
}

.price-type .price{
    margin-right: 10px;
    border: 1px solid #ccc; 
    padding: 5px 15px; 
    border-radius: 20px; 
    display: inline-block; 
    overflow: hidden; 
    white-space: nowrap; 
    background-color:rgb(148, 205, 238);
    color: white;
    text-align: center;
}

.price-type .type{
    border: 1px solid #ccc; 
    padding: 5px 15px; 
    border-radius: 20px; 
    display: inline-block; 
    max-width: 150px; 
    overflow: hidden; 
    white-space: nowrap; 
    background-color:rgb(240, 168, 80);
    color: white;
    text-align: center;
}



.rooms {
    display: flex;
    margin-bottom: 10px; 
}

.bedrooms,
.bathrooms {
    flex: 1; 
    display: flex;
    align-items: center; 
}

.bedrooms p,
.bathrooms p {
    margin: 0;
}

.plocation {
    margin-bottom: 10px; 
}

.btn-primary {
    background-color: green;
    border-radius: 0;
}